# Python stuff
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# IDE stuff
.vs/
.vscode/
*.swp
*.swo

# Project specific
# We are NOT ignoring npy files anymore because user wants them in git
# hand_coordinate_data/ is NOT ignored anymore
